<section class="catalog" id="catalog">
  <div class="container">
    <h2 class="catalog-title" tabindex="0">Catalog</h2>

    <ul class="catalog-list">
      <li class="catalog-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/catalog.desk/cat1desk-min.webp    1x,
              /img/catalog/catalog.desk/cat1desk@2x-min.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/catalog.tab/cat-tab1-min.webp    1x,
              /img/catalog/catalog.tab/cat-tab1@2x-min.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/catalog/catalogmob/cat-mob-min.webp    1x,
              /img/catalog/catalogmob/cat-mob@2x-min.webp 2x
            "
          />
          <img
            src="/img/catalog/catalogmob/cat-mob-min.webp"
            alt="Garmin Fenix"
            width="292"
            height="292"
            loading="lazy"
          />
        </picture>

        <h3 class="catalog-text">Garmin Fenix 7X Pro Sapphire Solar</h3>

        <p class="catalog-price">€500</p>
      </li>

      <li class="catalog-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/catalog.desk/cat2desk-min.webp    1x,
              /img/catalog/catalog.desk/cat2desk@2x-min.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/catalog.tab/cat-tab2-min.webp    1x,
              /img/catalog/catalog.tab/cat-tab2@2x-min.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/catalog/catalogmob/cat-mob2-min.webp    1x,
              /img/catalog/catalogmob/cat-mob2@2x-min.webp 2x
            "
          />
          <img
            src="/img/catalog/catalogmob/cat-mob2-min.webp"
            alt="Garmin Marq"
            width="292"
            height="292"
            loading="lazy"
          />
        </picture>
        <h3 class="catalog-text">Garmin Marq Athlete</h3>
        <p class="catalog-price">€450</p>
      </li>

      <li class="catalog-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/catalog.desk/cat3desk-min.webp    1x,
              /img/catalog/catalog.desk/cat3desk@2x-min.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/catalog.tab/cat-tab3-min.webp    1x,
              /img/catalog/catalog.tab/cat-tab3@2x-min.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/catalog/catalogmob/cat-mob3-min.webp    1x,
              /img/catalog/catalogmob/cat-mob3@2x-min.webp 2x
            "
          />
          <img
            src="/img/catalog/catalogmob/cat-mob3-min.webp"
            alt="Garmin Descent"
            width="292"
            height="292"
            loading="lazy"
          />
        </picture>

        <h3 class="catalog-text">Garmin Descent MK1</h3>
        <p class="catalog-price">€680</p>
      </li>

      <li class="catalog-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/catalog.desk/cat4desk-min.webp    1x,
              /img/catalog/catalog.desk/cat4desk@2x-min.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/catalog.tab/cat-tab4-min.webp    1x,
              /img/catalog/catalog.tab/cat-tab4@2x-min.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/catalog/catalogmob/cat-mob4-min.webp    1x,
              /img/catalog/catalogmob/cat-mob4@2x-min.webp 2x
            "
          />
          <img
            src="/img/catalog/catalogmob/cat-mob4-min.webp"
            alt="Garmin D2"
            width="292"
            height="292"
            loading="lazy"
          />
        </picture>

        <h3 class="catalog-text">Garmin D2 Delta PX</h3>
        <p class="catalog-price">€380</p>
      </li>

      <li class="catalog-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/catalog.desk/cat5desk-min.webp    1x,
              /img/catalog/catalog.desk/cat5desk@2x-min.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/catalog.tab/cat-tab5-min.webp    1x,
              /img/catalog/catalog.tab/cat-tab5@2x-min.webp 2x
            "
          />

          <img
            src="/img/catalog/catalog.desk/cat5desk-min.webp"
            alt="Garmin Fenix"
            width="292"
            height="292"
            loading="lazy"
          />
        </picture>

        <h3 class="catalog-text">Garmin Fenix 6 Pro Solar</h3>
        <p class="catalog-price">€400</p>
      </li>

      <li class="catalog-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/catalog.desk/cat6desk-min.webp    1x,
              /img/catalog/catalog.desk/cat6desk@2x-min.webp 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/catalog.tab/cat-tab6-min.webp    1x,
              /img/catalog/catalog.tab/cat-tab6@2x-min.webp 2x
            "
          />
          <img
            src="/img/catalog/catalog.desk/cat6desk-min.webp"
            alt="Garmin D2"
            width="292"
            height="292"
            loading="lazy"
          />
        </picture>

        <h3 class="catalog-text">Tube Watch S42 Date Steel With Black Case</h3>
        <p class="catalog-price">€395</p>
      </li>
    </ul>

    <button class="btn-catalog" type="button" aria-label="button to show more">
      Show more
    </button>
  </div>
</section>
