<section class="hero">
  <div class="container">
    <div class="hero-top">
      <div class="hero-top-wrapper">
        <h1 class="hero-title" tabindex="0">
          Welcome to our <span class="accent">collection</span> of premium
          watches
        </h1>
        <p class="hero-descr">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>

      <div class="hero-top-side">
        <ul class="hero-side-list">
          <li class="hero-side-item">
            <img
              srcset="
                /img/reviews/reviews-victoria@1x.png 1x,
                /img/reviews/reviews-victoria@2x.png 2x
              "
              src="/img/reviews/reviews-victoria@1x.png"
              alt="avatar"
              class="hero-side-avatar"
              aria-label="person's avatar"
              width="44"
              height="44"
              loading="lazy"
            />
          </li>
          <li class="hero-side-item">
            <img
              srcset="
                /img/reviews/reviews-john@1x.png 1x,
                /img/reviews/reviews-john@2x.png 2x
              "
              src="/img/reviews/reviews-john@1x.png"
              alt="avatar"
              class="hero-side-avatar"
              aria-label="person's avatar"
              width="44"
              height="44"
              loading="lazy"
            />
          </li>
          <li class="hero-side-item">
            <img
              srcset="
                /img/reviews/reviews-anastasia@1x.png 1x,
                /img/reviews/reviews-anastasia@2x.png 2x
              "
              src="/img/reviews/reviews-anastasia@1x.png"
              alt="avatar"
              class="hero-side-avatar"
              aria-label="person's avatar"
              width="44"
              height="44"
              loading="lazy"
            />
          </li>
        </ul>

        <a
          href="#footer"
          class="hero-top-scroll"
          aria-label="go to the page end"
          >Scroll down</a
        >
      </div>
    </div>

    <div class="hero-bg">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            /img/hero/hero-bg-desk-min.webp    1x,
            /img/hero/hero-bg-desk@2x-min.webp 2x
          "
        />

        <source
          media="(min-width: 768px)"
          srcset="
            /img/hero/hero-bg-tab-min.webp    1x,
            /img/hero/hero-bg-tab@2x-min.webp 2x
          "
        />

        <source
          media="(max-width: 767px)"
          srcset="
            /img/hero/hero-bg-mob-min.webp    1x,
            /img/hero/hero-bg-mob@2x-min.webp 2x
          "
        />

        <img
          src="/img/hero/hero-bg-mob-min.webp"
          alt="picture of watch"
          class="hero-bg-img"
          width="1150"
          height="500"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
