<section class="sale" id="sale">
  <div class="container">
    <h2 class="sale-title">Sale</h2>

    <div class="sale-wrapper">
      <ul class="sale-lists">
        <li class="sale-item">
          <div class="sale-item-images">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/sale/sale-desk-1.webp    1x,
                  ./img/sale/sale-desk-1@2x.webp 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/sale/sale-mob-1.webp    1x,
                  ./img/sale/sale-mob-1@2x.webp 2x
                "
              />
              <img
                src="./img/sale/sale-desk-1.webp"
                alt="An example of our production"
                class="sale-item-img"
                width="96"
                height="100"
                loading="lazy"
              />
            </picture>
          </div>
        </li>
        <li class="sale-item">
          <div class="sale-item-images">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/sale/sale-desk-2.webp    1x,
                  ./img/sale/sale-desk-2@2x.webp 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/sale/sale-mob-2.webp    1x,
                  ./img/sale/sale-mob-2@2x.webp 2x
                "
              />
              <img
                src="./img/sale/sale-desk-2.webp"
                alt="An example of our production"
                class="sale-item-img"
                width="96"
                height="100"
                loading="lazy"
              />
            </picture>
          </div>
        </li>
        <li class="sale-item">
          <div class="sale-item-images">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/sale/sale-desk-3.webp    1x,
                  ./img/sale/sale-desk-3@2x.webp 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/sale/sale-mob-3.webp    1x,
                  ./img/sale/sale-mob-3@2x.webp 2x
                "
              />
              <img
                src="./img/sale/sale-desk-3.webp"
                alt="An example of our production"
                class="sale-item-img"
                width="96"
                height="100"
                loading="lazy"
              />
            </picture>
          </div>
        </li>
        <li class="sale-item">
          <div class="sale-item-images">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/sale/sale-desk-4.webp    1x,
                  ./img/sale/sale-desk-4@2x.webp 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/sale/sale-mob-4.webp    1x,
                  ./img/sale/sale-mob-4@2x.webp 2x
                "
              />
              <img
                src="./img/sale/sale-desk-4.webp"
                alt="An example of our production"
                class="sale-item-img"
                width="96"
                height="100"
                loading="lazy"
              />
            </picture>
          </div>
        </li>
      </ul>
      <div class="sale-img">
        <div class="sale-img-wrapper">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/sale/sale-desk-5.webp    1x,
                ./img/sale/sale-desk-5@2x.webp 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/sale/sale-mob-5.webp    1x,
                ./img/sale/sale-mob-5@2x.webp 2x
              "
            />
            <img
              src="./img/sale/sale-desk-5.webp"
              alt="An example of our production"
              class="sale-img-item"
              width="328"
              height="398"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="sale-card">
        <p class="sale-card-subtitle">
          MARQ&reg; Commander (Gen 2) - Carbon Edition
        </p>
        <p class="sale-card-id">Product tag: 706587</p>
        <div class="sale-card-price">
          <p class="sale-card-new-price">€1500</p>
          <p class="sale-card-old-price">€3000</p>
        </div>
        <p class="sale-card-description">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="sale-card-tags">
          <li class="sale-card-item">Fused carbon fiber</li>
          <li class="sale-card-item">Grade-5 Titanuim</li>
          <li class="sale-card-item">Athlete</li>
          <li class="sale-card-item">Golfer</li>
          <li class="sale-card-item">Commander</li>
          <li class="sale-card-item">Adventurer</li>
        </ul>
      </div>
    </div>
  </div>
</section>
