/* #region */
.catalog {
  padding-top: 60px;
}

.catalog-title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.catalog-list li {
  text-align: center;
}
.catalog-list img {
  display: inline-block;
  margin-top: 34px;
}

.catalog-item {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  width: 335px;
  height: 364px;
  background-color: #f3f3f3;
}

.catalog-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  text-align: left;
  padding-left: 28px;
}

.cat-text-tit {
  display: none;
}
.catalog-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
  padding-left: 28px;
  margin-top: 8px;
  text-align: left;
}
.picture-item {
  display: none;
}
.btn-catalog {
  width: 160px;
  height: 48px;
  border-radius: 16px;
  background-color: #3350e9;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: #fbfbfb;
  display: block;
  margin: 30px auto;
}

/* #endregion */
/* tablet */

@media screen and (min-width: 768px) {
  .picture-item {
    display: block;
  }
  .catalog-title {
    margin-bottom: 40px;
    font-size: 48px;
  }
  .catalog-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
  .catalog-text {
    font-size: 20px;
    line-height: 1;
    padding-left: 32px;
  }

  .catalog-item {
    width: 344px;
    height: 414px;
  }
  .catalog-price {
    padding-left: 32px;
  }
  .catalog-list + .btn-catalog {
    display: none;
  }
}

/* desktop */
@media screen and (min-width: 1280px) {
  .catalog-item {
    width: 368px;
  }
  .catalog-list {
    row-gap: 32px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}
