/* Contact US */
/* Chernysh Illia */

.contact {
    padding-top: 60px;
    padding-bottom: 60px;
}

.contact-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: var(--main);
    margin-bottom: 24px;
}

.contact-form {
    margin-bottom: 28px;
}

.contact-form-container {
    border-radius: 30px;
    padding: 48px 28px;
    background-color: var(--cards);
    margin-bottom: 20px;
}

.contact-form-container-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    margin-bottom: 28px;
}

.contact-field-wrapper {
    margin-bottom: 18px;
}

.contact-form-input {
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    padding: 12px 14px;
    width: 100%;
    height: 42px;
    outline: transparent;
    background-color: transparent;

    transition: border-color var(--animation);
}

.contact-form-input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    color: var(--main);
}

.contact-form-input:focus {
    border-color: var(--accent);
}

.contact-user-comment {
    display: block;
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    padding: 12px 14px;
    width: 100%;
    height: 84px;
    resize: none;
    outline: transparent;
    background-color: transparent;
}

.contact-user-comment::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    color: var(--main);
}

.contact-user-comment:focus {
    border-color: var(--accent);
}

.contact-filed-wrapper-comment {
    margin-bottom: 28px;
}

.contact-send-btn {
    display: block;
    background-color: var(--accent);
    color: var(--background);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 16px;
    padding: 12px 50px;
    min-width: 134px;
    height: 42px;
    transition: background-color var(--animation);
}

.contact-send-btn:hover,
.contact-send-btn:focus {
    background-color: #1f3cd4;
}

.contact-img-thumb {
    border-radius: 30px;
    overflow: hidden;
}

/* Tablet */
@media screen and (min-width: 768px) {
    .contact-title {
        font-size: 48px;
        line-height: 0.92;
        margin-bottom: 40px;
    }

    .contact-form-container {
        max-width: 704px;
        padding: 50px 122px;
        margin-bottom: 40px;
    }

    .contact-form-container-text {
        margin-bottom: 32px;
        line-height: 1.25;
        font-size: 16px;
    }

    .contact-form-input {
        padding: 16px 18px;
        height: 52px;
    }

    .contact-form-input::placeholder {
        font-size: 16px;
        line-height: 1.25;
    }

    .contact-user-comment {
        height: 90px;
        padding: 16px;
    }

    .contact-user-comment::placeholder {
        font-size: 16px;
        line-height: 1.25;
    }

    .contact-filed-wrapper-comment {
        margin-bottom: 32px;
    }

    .contact-send-btn {
        min-width: 160px;
        height: 52px;
    }

    .contact-img-thumb {
        border-radius: 50px;
    }
}

/* Desktop */
@media screen and (min-width: 1280px) {

    .contact-form-container {
        width: 580px;
        padding: 50px 60px;
        margin-bottom: 0;
    }

    .contact-section-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .contact-img-thumb {
        max-width: 530px;
    }
}