.section-reviews {
  padding-top: 60px;
}

.reviews-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: var(--main);
  margin-bottom: 24px;
}

.reviews-item {
  min-width: 335px;
  border-radius: 30px;
  padding: 32px 36px;
  background: var(--cards);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-list {
  display: flex;
  gap: 20px;
  width: 300%;
  margin-bottom: 40px;
}

/* #region slider*/
.slide {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slide input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.switch-button {
  width: 80%;
  height: 40px;
  margin: 0 auto;
  position: relative;
}

/* #region left button*/

#pic1:checked ~ .switch-button label:nth-child(3),
#pic3:checked ~ .switch-button label:nth-child(2),
#pic2:checked ~ .switch-button label:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-image: url(../img/arrow-left.png);
  cursor: pointer;
}

#pic1:checked ~ .switch-button label:nth-child(3):hover,
#pic3:checked ~ .switch-button label:nth-child(2):hover,
#pic2:checked ~ .switch-button label:nth-child(1):hover {
  background-image: url(../img/arrow-left-1.png);
}

/* #endregion left button*/

/* #region right button*/

#pic1:checked ~ .switch-button label:nth-child(2),
#pic2:checked ~ .switch-button label:nth-child(3),
#pic3:checked ~ .switch-button label:nth-child(1) {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-image: url(../img/arrow-right.png);
  cursor: pointer;
}

#pic1:checked ~ .switch-button label:nth-child(2):hover,
#pic2:checked ~ .switch-button label:nth-child(3):hover,
#pic3:checked ~ .switch-button label:nth-child(1):hover {
  background-image: url(../img/arrow-right-1.png);
}

/* #endregion right button*/

/* move slide */
#pic1:checked ~ .reviews-list {
  margin-left: 0;
}

#pic3:checked ~ .reviews-list {
  margin-left: -355px;
}

#pic2:checked ~ .reviews-list {
  margin-left: -710px;
}

.reviews-list {
  transition: all 200ms ease-in-out;
}
/* #endregion slider*/

.reviews-author {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--main);
  margin-bottom: 8px;
}

.reviews-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(12, 12, 12, 0.4);
}

.reviews-image {
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .section-reviews {
    padding-top: 80px;
  }

  .reviews-item {
    padding: 32px 36px;
    width: 344px;
    height: 272px;
  }

  .reviews-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 48px;
    line-height: 92%;
    letter-spacing: -0.02em;
    color: var(--main);
    margin-bottom: 40px;
  }

  .reviews-text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(12, 12, 12, 0.4);
  }

  .reviews-author {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--main);
  }

  .reviews-list {
    gap: 16px;
  }

  /* move slide tablet*/
  #pic1:checked ~ .reviews-list {
    margin-left: 0;
  }

  #pic3:checked ~ .reviews-list {
    margin-left: -360px;
  }

  #pic2:checked ~ .reviews-list {
    margin-left: -720px;
  }
}

@media (min-width: 1280px) {
  .section-reviews {
    padding-top: 100px;
  }

  .reviews-list {
    margin-bottom: 0;
  }

  .reviews-item {
    padding: 32px 36px;
    min-width: 370px;
    height: 272px;
  }

  .reviews-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 48px;
    line-height: 92%;
    letter-spacing: -0.02em;
    color: var(--main);
  }

  .reviews-author {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--main);
  }

  .reviews-text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(12, 12, 12, 0.4);
  }

  .switch-button {
    display: none;
  }
}
